body {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    text-align: left;
    border-bottom: 2px solid black;
  }
  
  thead button {
    border: 0;
    border-radius: none;
    font-family: Arial;
    font-weight: 700;
    font-size: inherit;
    padding: 0.5em;
    margin-bottom: 1px;
  }
  
  .ascending::after {
    content: '⇅';
    display: inline-block;
    margin-left: 1em;
    padding-bottom: 20px;
  }

  .params {
    font-size: 25px;
    padding-bottom: 20px;
  }

  .search {
    width: 250px;
    height: 25px;
    padding: 5px;
    display: block;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }